<div class="container">

  <Profile::Picture/>

  <blockquote>
    <i>
      "As a programmer, it is your job to put yourself out of business. What you do today can be automated tomorrow."
    </i>
    - Doug McIlroy
  </blockquote>

  <p>
    I am a passionate and competent developer with attention to detail and experience in various web development
    technologies. The primary technologies and languages used during my time as a full- stack developer were MySQl, HTML,
    HTML5, CSS, CSS3, PHP, and Java. I am experienced in developing applications and solutions for a wide range of
    corporates and have the enthusiasm to complete projects to the highest standard.
  </p>

  <p>I consider myself a humble person, honest, ambitious and committed to the tasks I take on. I am used to working in a
    group since my youth, but I can also work without supervision if it is needed. In a group, I can hear what my
    colleagues have to say and express my point of view if it's worth it.
  </p>
</div>