.card {
  background-color: white;

  color: black;

  margin: 1rem 0;
  padding: 1rem;

  border-radius: 0.1rem;

  max-width: 310px;
}

.card .card-date, .card .card-name {
  font-weight: bold;
}

.card-date {
  font-size: 13px;
}

.card-name {
  font-size: 17px;
}

.card.start {
  align-self: flex-start;
}

.card.end {
  align-self: flex-end;
}

