@font-face {
  font-family: "jmh";
  src: url("/assets/fonts/JMH Typewriter.otf");
}

html, body {

  background: black;

  color: white;

  font-family: "jmh", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2rem;

  font-size: 1vw;
}

body {
  display: flex;

  flex-flow: column;

  font-size: 32px;
  padding: 0 2rem;

  margin: 0;

  height: 100%;
}

hr {
  width: 100%;
  height: 0.1rem;

  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
}

.content, .timeline-content {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;

  width: 100%;
  font-size: 15px;

  max-width: 1333px;
  align-self: center;
}

.container {
  max-width: 768px;

  justify-self: center;
}

.container blockquote {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;

  padding: 2rem 0 0;
}

@media only screen and (min-width: 640px) {
  .content{
    flex-flow: row;
  }
}
