<ul class="cards">
    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>

    <li class="card-item">
        <div class="card">
            Company Logo <br>
            Company Name <br>
            From: To: <br>
            Country <br><br>

            Title<br><br>
            
            Description<br><br>

            Technlogoies<br>
            Languages<br>
        </div>
    </li>
</ul>