<footer>
  <nav>
    <a href="https://www.facebook.com/emanuel.coelho.1986" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com/iamelkas" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-twitter"/>
    </a>
    <a href="https://www.linkedin.com/in/emanuel-coelho-6717b027" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-linkedin"/>
    </a>
    <a href="https://www.youtube.com/channel/UCLwCp9VA1xWe40Elfx8JBCg" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-youtube"/>
    </a>
    <a href="https://www.twitch.tv/iamelkas" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-twitch"/>
    </a>
    <a href="https://github.com/emanuelcoelho1986" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-github"/>
    </a>
  </nav>
</footer>