.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;

  padding: 1rem;

  width: 100%;

  text-decoration: none;
}

.card *{
  margin: 0;
}

.card .card-header img {
  max-width: 480px;
  max-height: 4rem;
}
