.blinking-cursor {
  color: white;
  font-weight: normal;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }

  50% {
    color: white;
  }
}

@keyframes blink {
  0%,
  100% {
    color: transparent;
  }

  50% {
    color: white;
  }
}
