footer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer nav {
  font-size: 22px;
}

footer nav a {
  text-transform: none;
  text-decoration: none;
  margin: 0 0.5rem;
  color: white;
}

footer nav a:hover {
  opacity: 0.7;
}

footer nav a:last-of-type {
  text-transform: none;
  margin: 0;
}

footer .emberjs {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .emberjs .fa-ember {
  margin: 0 0.4rem;
}

footer small {
  font-size: 10px;
  font-weight: lighter;
  font-style: italic;
}
