.navigation-menu {
  font-size: 15px;
}

.navigation-menu a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: lighter;
}

.navigation-menu a.active {
  font-weight: bolder;
}

.navigation-menu a:hover {
  font-weight: bolder;
}

@media only screen and (width <= 640px) {
  .navigation-menu {
    display: none;
  }
}
