<nav class="navigation-menu">
  <LinkTo @route="home">127.0.0.1</LinkTo>
  <LinkTo @route="education">Education</LinkTo>
  <LinkTo @route="experience">Experience</LinkTo>
  <LinkTo @route="other">Other</LinkTo>
</nav>
