<button type="button" class="mobile-menu-burguer {{ if this.isOpen "change" }}"
  {{ on "click" this.didPressMenuButton }}
>
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</button>

<button type="button" id="my-sidenav" class="sidenav {{ this.openClass }}" {{on "click" this.didPressMenuButton}}>
      <Menu::MenuLinks />
</button>